html {
  background-color: black;
}

#log_textarea {
  width: 500px;
  height: 300px;
  background-color: lightblue;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

#log_filter_label {
  font-size: 16px;
  color: white;
  font-weight: normal;
}

.hide {
  display: none;
}
