html {
  background-color: black;
}

#all_container {
  display: flex;
  justify-content: space-between;
}

#canvas_container {
  flex: 1;
}

#canvas {
  width: 100%;
}

#message_board {
  flex: .6;
  margin-left: 20px;
}

#log_textarea {
  width: 500px;
  height: 300px;
  background-color: lightblue;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 18px; /* Adjust the font size as needed */
  color: black; /* Adjust the font color as needed */
  font-weight: bold;
}

#log_filter_label {
  font-size: 16px; /* Adjust the font size as needed */
  color: white; /* Adjust the font color as needed */
  font-weight: normal;
}
